@model Carledger.Models.MileageTransaction

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Mileage</h2>

<form asp-action="ExecuteTransaction">
    <div class="form-group">
        <label for="asset">CarId</label>
        <input type="text" class="form-control" name="asset" id="asset" value="@Model.Asset">
    </div>
    <div class="form-group">
        <label for="mileage">Mileage</label>
        <input type="text" class="form-control" id="mileage" name="mileage" placeholder="New Mileage">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>